.tagContainer {
    border-radius: 4px;
    color: #FFFFFF;
    position: absolute;
    font-weight: bold;
    padding: 5px 10px;
}

.default {
    background-color: #EA4B48;
}

.new {
    background-color: #FF8A00;
}

.bestsale {
    background-color: #2388FF;
}

.outofstock {
    background-color: #1A1A1A;
}

.top-left {
    top: 10px;
    left: 10px;
}


.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}
