.hoverTag {
    color: #1A1A1A;
    align-content: center;
    justify-content: center;
    border-radius: 45px;
    width: 86px;
    height: 33px;
    font-size: 13px;
}

.hoverTag:hover {
    background-color: var(--primary);
    color: #FFFFFF;
}

