
.Cart {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #000;
}
.Cart:hover {
    background-color: var(--successDark);
    color: #fff;
}
.Cart-active {
    
    background-color: var(--success);
    color: #fff;

}