.btn_close {
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    font-size: 8px;
    border-radius: 50%;
    background-color: white;
    color: #666;
}
.btn_close:hover {
    color: #000;
    border: 2px solid #000;

}