.CloseButton {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: black;
}
.CloseButton:hover {
    color: white;
    background-color: var(--success);
}